
/* ============= SELECTORES DE TIPO O ETIQUETA ==============*/

textarea{
	resize:none;
}

/* ============= FIN SELECTORES DE TIPO O ETIQUETA ==============*/

/* =============    BOTONES PERSONAL ==============*/
div a h2:hover {
    		background: #3498DB;
    		color: #fff;
    		-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;

}
/* =============    FIN BOTONES PERSONAL ==============*/



/* ============= SELECTORES DE CLASE ==============*/

.divider1{
	margin-top: 0px !important;
}

.title{
  margin-top: 0px !important;
}

.activeOption{
	color: #fff !important;
	background-color: #080808 !important;
	text-decoration: none;
}

.control-label{
	text-align: left !important;
}

.listOfCourses{
	line-height: 1;
}

.spaceLi{
	margin-bottom: 10px;
}

.newsUl li{
	margin-bottom: 40px;
}


/* ============= FIN SELECTORES DE CLASE ==============*/

/* ============= SELECTORES DE ID ==============*/

#face{
	cursor: pointer;
}

.animation.animated-item-1 {
  -webkit-animation: fadeInUp 400ms linear 400ms both;
  -moz-animation: fadeInUp 400ms linear 400ms both;
  -o-animation: fadeInUp 400ms linear 400ms both;
  -ms-animation: fadeInUp 400ms linear 400ms both;
  animation: fadeInUp 400ms linear 400ms both;
}

.animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}

.animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}

/* ============= END SELECTORES DE ID ==============*/
