textarea{
	resize:none;
}

.divider1{
	margin-top: 0px !important;
}

.title{
  margin-top: 0px !important;
}

.activeOption{
	color: #fff !important;
	background-color: #080808 !important;
}

#face{
	cursor: pointer;
}

.listOfCourses{
	line-height: 1;
}



