
/* ============= SELECTORES DE TIPO O ETIQUETA ==============*/

textarea{
	resize:none;
}

/* ============= FIN SELECTORES DE TIPO O ETIQUETA ==============*/

/* ============= SELECTORES DE CLASE ==============*/

.divider1{
	margin-top: 0px !important;
}

.title{
  margin-top: 0px !important;
}

.activeOption{
	color: #fff !important;
	background-color: #080808 !important;
}

.control-label{
	text-align: left !important;
}

.listOfCourses{
	line-height: 1;
}

/* ============= FIN SELECTORES DE CLASE ==============*/

/* ============= SELECTORES DE ID ==============*/

#face{
	cursor: pointer;
}

/* ============= END SELECTORES DE ID ==============*/
